@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
   
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
  
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
   
}

h3{
    font-size: 1.4rem;
    font-weight: 800;
    
}

h4{
    font-size: 1.1rem;
    font-weight: 600;
  

}

h5{
    font-size: 1rem;
    font-weight: 400;
   
}

h6{
    color: rgb(252, 246, 246);
}

button{
    font-size:0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: darkgreen;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover{
    background-color:#04994e ;
}

hr{
    width: 50px;
    height:2px;
    background-color: rgb(168, 2, 105);

}
#img{
    width: 5%;
    border-bottom-left-radius:20px ;
    border-top-right-radius:20px ;
}


.navbar{
    font-size: 20px;
    font-weight: 700;
    top: 0;
    left: 0;
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: rgb(5, 0, 0);
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
    color:rgb(6, 158, 138);
}

.navbar i{
    font-size: 1.2rem;
    padding:0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: black;
}
#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 00.3sease;
}
#bar:hover,
#bar.nav-link.active{
    color: rgb(3, 2, 3);
}

@media only screen and (max-width:991px){
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: rgb(2, 44, 23);
    }

    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar{
        color: cornsilk;
    }
    #navbarSupportedContent > ul{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }
   
}

/* Mobile Nav*/
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}
#home{
    background-image: url(/image/background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: top 60px right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

#home h2{
    color: rgb(0, 3, 5);
}

#home h1{
    color:rgb(0, 3, 5);
}

#home p{
    color: rgb(1, 7, 12);
}
#home span{
    color:rgb(22, 182, 30);
}

.subject{
    cursor:pointer;
    margin-bottom: 2rem;

}
.subject img{
    transition: 0.3s all;
}
.subject:hover img{
    opacity: 0.7;
}

.subject .seemore-btn{
    background-color: rgb(46, 32, 238);
    transform:  translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.subject:hover .seemore-btn{
    transform: translateY(0);
    opacity: 1;
}

#banner{
    background-image: url(/image/koreanfood.jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
#banner h3{
    color: #f0e6e6;
    font-size: 20px;
}

#banner h1{
    color:#050000;
}

#banner button{
   background-color: darkgreen;
}

footer{
    background-color: rgb(9, 1, 39);
}

.image{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

footer h5{
    color: aliceblue;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li{
    padding-bottom:4px;
}

footer li a{
    font-size: 1rem;
    color: aliceblue;
}

footer li a:hover{
    color: aliceblue;
}

footer p{
    color:aliceblue;
    font-size: 0.8rem;
}

footer .copyright a{
    width :10px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
}
#icon{
    color: aqua;
}